html,
body {
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Helvetica', sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}
.img_box {
  display: flex;
  flex: 1;
  position: relative; /* Establish a positioning context */
  width: 100%;
  height: 100vh; /* Set height to viewport height */
  overflow: hidden;
}

.quote {
  display: flex;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 5%;
  font-family: serif;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 70px;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 10px rgba(2, 65, 255, 1);
}

@media (max-width: 1200px) {
  .quote {
    display: flex;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 5%;
    font-family: serif;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgba(2, 65, 255, 1);
  }
}

@media (max-width: 900px) {
  .quote {
    display: flex;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 5%;
    font-family: serif;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 0px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgba(2, 65, 255, 1);
  }
  .login_container
  {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 300px;
    margin-bottom: 0;
    box-shadow: 10px 10px 60px #252525;
  }
}

.login_topic{
  color: #252525;
  font-size:40px;
  margin-top: 20;
  margin-bottom: 0;
}
.login_box {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  background: linear-gradient(to top, rgb(97, 144, 232), rgba(65, 134, 225, 0) 50%, rgba(245, 20, 13, 0.2));
}
.login_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login_container
{
  display: flex;
  margin-right: 10%;
  flex-direction: column;
  border-radius: 20px;
  background-color: #f5f5f5;
  width: 400px;
  margin-bottom: 0;
  box-shadow: 10px 10px 60px #252525;
}
.login_container.row1 {
  position: fixed;
  display: flex;
  justify-content: center;
  font-size: 60px;
  text-align: center;
  color: #f5f5f5;
}

.login_topic {
  text-align: center;
}
.login_container.login_info {
  position: fixed;
  left: 30px;
  text-align: center;
  position: relative;
  bottom: 5%;
}
.button_box {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10px;
}
.login_button {
  border: solid 2px #f5f5f5;
  background-color: #c1d8ef;
  color: #252525;
  width: 125px;
  height: 44px;
  border-radius: 60px;
  cursor: pointer;
  position: relative;
  bottom: 10px;
  transition: all .5s ease;
  font-size: 15px;
}
.login_button:hover{
  color: #252525;
  background-color: rgb(126, 226, 244);
}
.login {
  display: flex;
  text-align: center;
  justify-content: center;
}
.email {
  position: relative;
  right: 65px;
}
.password {
  position: relative;
  right: 55px;
}
.login_info_box {
  display: flex;
  justify-content: center;
}


.login_info input[type="text"],
.login_info input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #727171;
  background-color: transparent;
  outline: none;
}

/* Change underline color on focus */
.login_info input[type="text"]:focus,
.login_info input[type="password"]:focus {
  border-bottom: 2px solid #49C7E3;
  width: 200px;
}

.input-data {
  display: flex;  
  position: relative;
  justify-content: center;
  margin-bottom: 20px;
    
  }
  
  .input-data input[type=""],
  .input-data input[type=""]{
    padding: 10px;
    width: 200px;
    border: none;
    background-color: transparent;
    outline: none;
  }
  
  .input-data input:focus ~ label{
    transform: translateY(-25px);
    font-size: 14px;
    color: #49C7E3;
  }
  
  .input-data input:valid ~ label {
    transform: translateY(-25px);
    font-size: 14px;
  }

  .input-data label {
    position: absolute;
    bottom: 40px;
    left: 107px;
    font-size: 16px;
    color: #727171;
    transition: all 0.3s ease;
  }
  
  .input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 200px;
    left: 50px;
    right: 50px;
    color: #f5f5f5;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before {
    transform: scaleX(1);
    background: #49C7E3;
  }
  .login_container h2{
    display: flex;
    justify-content: center;
    color: #252525;
    position: relative;
    bottom: 20px;
  }
  a{
    color: transparent;
  }
  .create_acc {
    font-size: 10px;
  }
  .create_acc h2:hover{
    color: #1d099d;
  }
  p{
    text-align: center;
    margin-top: 0;
  }


  @media only screen and (max-width: 600px) {
    .login_box {
      width: 100%;
    }
    .img_box {
      display: none;
    }
  }