html,
body {
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Jura', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.img_box {
  width: 50%;
}
.login_topic{
  font-size:50px;
  margin-top: 30;
  margin-bottom: 0;
}
.login_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-image: url(asset/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: #176b87; */
}
.login_container
{
  display: flex;
  flex-direction: column;
  left: 10%;
  border-radius: 20px;
  background-color: white;
  width: 300px;
  margin-bottom: 0;
  box-shadow: 10px 10px;
}
.login_container.row1 {
  position: fixed;
  display: flex;
  justify-content: center;
  font-size: 60px;
  text-align: center;
  color: white;
}

.login_topic {
  text-align: center;
}
.login_container.login_info {
  position: fixed;
  left: 30px;
  text-align: center;
  position: relative;
  bottom: 5%;
}
.button_box {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10px;
}
.login_button {
  border: solid 2px white;
  width: 125px;
  height: 44px;
  border-radius: 60px;
  cursor: pointer;
  position: relative;
  bottom: 10px;
  transition: all .5s ease;
  font-size: 15px;
}
.login_button:hover{
  color: #001F3F;
  background-color: #69D3EA;
}
.login {
  display: flex;
  text-align: center;
  justify-content: center;
}
.email {
  position: relative;
  right: 65px;
}
.password {
  position: relative;
  right: 55px;
}
.login_info_box {
  display: flex;
  justify-content: center;
}


.login_info input[type="text"],
.login_info input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  outline: none;
}

/* Change underline color on focus */
.login_info input[type="text"]:focus,
.login_info input[type="password"]:focus {
  border-bottom: 2px solid #49C7E3;
  width: 200px;
}

.input-data {
  display: flex;  
  position: relative;
  justify-content: center;
  margin-bottom: 20px;
    
  }
  
  .input-data input[type=""],
  .input-data input[type=""]{
    padding: 10px;
    width: 200px;
    border: none;
    background-color: transparent;
    outline: none;
  }
  
  .input-data input:focus ~ label,
  .input-data input:valid ~ label {
    transform: translateY(-25px);
    font-size: 14px;
    color: #49C7E3;
  }
  
  .input-data label {
    position: absolute;
    bottom: 40px;
    left: 57px;
    font-size: 16px;
    color: #ccc;
    transition: all 0.3s ease;
  }
  
  .input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 200px;
    left: 50px;
    right: 50px;
    color: white;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before {
    transform: scaleX(1);
    background: #49C7E3;
  }
  .login_container h2{
    display: flex;
    justify-content: center;
    color: black;
    position: relative;
    bottom: 20px;
  }
  a{
    color: transparent;
  }
  .create_acc h2:hover{
    color: #9bde8a;
  }
  p{
    text-align: center;
    margin-top: 0;
  }
