/* navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2a2d2f;
}
nav {
  background-color: #f0ece5;
  width: 100%;
  text-align: center;
  line-height: 67px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

nav a {
  font-size: 24px;
  text-decoration: none;
  padding: 0 35px;
  display: inline-block;
  color: #31304d;
}

nav a:hover {
  color: black;
}

.logo {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-style: bold;
  font-family: "Kanit-Bold", sans-serif;
  color: #31304d;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 30px;
}

a.profile {
  position: fixed;
  top: 12px;
  right: 100px;
}

a.logout {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0 20px;
}

/* sidebar */

.left-buttons {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  padding-top: 70px;
}

.left-buttons a {
  font-size: 18px;
  font-family: sans-serif;
  display: block;
  padding: 0px 40px;
  color: #120061;
  text-decoration: none;
  background-color: #d3d3d3;
  border: 1px solid #564b99;
  font-weight: bold;
}

.left-buttons a:hover {
  background-color: #aaa;
  color: #120061;
}
.left-buttons .last_button {
  border-bottom-right-radius: 20px;
}

/* main feed */
.create_post {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  width: 780px;
  height: 95px;
  border-radius: 30px;
  margin-top: 50px;
  position: relative;
  top: 40px;
}

.create_post:hover{
  cursor: pointer;
}

.post {
  margin: 0;
  position: relative;
  right: 220px;
}

.edit {
  width: 40px;
  height: 40px;
  position: relative;
  right: 250px;
}
.post-in-feed {
  border: solid 2px black;
  width: 780px;
  height: 480px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20%;
  margin-top: 5%;
  border-radius: 20px;
  margin-bottom: 8%;
}
.create_post {
  background-color: beige;
}
.post-in-feed {
  background-color: beige;
}
.main-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.activity_pic {
  width: 280px;
  height: 225px;
  position: absolute;
  left: 6%;
  top: 28%;
  display: flex;
  flex: auto;
}
.img_activity {
  width: 100%;
  height: 100%;
}
.type-activity {
  font-size: 35px;
  position: absolute;
  left: 50%;
}
.description {
  border: solid 2px black;
  width: 305px;
  height: 175px;
  display: flex;
  flex-direction: row;
}

.box {
  width: 780px;
  height: 480px;
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  border-radius: 20px;
  background-color: beige;
  position: relative;
  top: 80px;
}
.upper {
  text-align: left;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.second {
  text-align: left;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 15px;
}
.middle {
  text-align: left;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 15px;
}
.bottom {
  text-align: left;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 20px;
  right: 30px;
}
p {
  margin: 10px;
  font-family: verdana;
  color: grey;
}
.activity-info {
  width: 45%;
  color: gray;
  background-color: white;
  position: relative;
  right: 30px;
  border-radius: 20px;
}
.topic {
  font-size: 30px;
  font-weight: bold;
}
.activity-img {
  width: 40%;
  height: 200px;
  margin-left: 10px;
}
.available{
  position: relative;
  right: 30px;
}
.close-post{
  color: red;
}
.join-button {
  border: solid 2px #F9D864;
  background: #F9D864;
  border-radius: 10px;
  width: 45%;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  left: 55px;
  box-shadow: 2px 2px 5px;
}
.join-button:hover{
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  nav {
    top: 70;
  }
  nav a {
    padding: 0 15px;
    margin-top: 50px;
  }
  .logo {
    top: -50px;
  }
  a.logout {
    top: -50px;
    right: 20px;
  }
  .create_post {
    top: 70px;
  }
  .post {
    right: 50px;
  }
  .edit {
    right: 60px;
  }
  .left-buttons {
    display: none;
  }
  .main-feed {
    padding: 10px;
  }
  .create_post, .box {
    width: 100%;
    padding: 10px;
  }
  .activity-img {
    width: 100%;
  }
  .topic {
    font-size: 22px;
  }
  .type-activity {
    font-size: 22px;
  }
  .activity-info {
    font-size: 18px;
    width: 100%;
    right: 0px;
  }
  .join-button {
    width: 35%;
    margin-top: 20px;
    margin-right: 50px;
  }
  .bottom {
    left: 0px;
  }
}