* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #F0ECE5;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.navbar a {
    float: left;
    display: block;
    color: #31304D;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    left: 10%;
    top: 5%;
    border-radius: 5%;
}

.navbar a:hover {
    color: black;
}

.user_img{
    width: 90%;
    height: 2%;
}
.logo_img{
    width: 5%;
    height: 2%;
}
.profile{
    width: 5%;
}

.navbar h1 {
    margin-right: 25px;
    position: relative;
    left: 6%;
}
.logo {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: bold;
    font-family: "Kanit-Bold", sans-serif;
    color: #31304D;
}

a.profile,
a.logout{
    position: relative;
    left: 50%;
}


/* sidebar */
nav {
    background: #ffffff;
    width: 100%;
    text-align: center;
    line-height: 60px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.left-buttons {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    padding-top: 4.5%;
}

.left-buttons a {
    font-family: sans-serif;
    display: block;
    padding: 0px 40px;
    color: #120061;
    text-decoration: none;
    background-color: #d3d3d3;
    border: 1px solid #564b99;
    font-weight: bold;
}

.left-buttons a:hover {
    background-color: #aaa;
}
.left-buttons .last_button
{
    border-bottom-right-radius: 20px;
}