html,
body {
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.img_box {
  width: 50%;
}
.register_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-image: url(asset/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  text-align: center;
  color: white;
}
.register_info {
  text-align: center;
  position: relative;
  bottom: 5%;
}
.button_box {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 5%;
}
.register_button {
  border: solid 2px white;
  width: 125px;
  height: 44px;
  border-radius: 60px;
  cursor: pointer;
  position: relative;
  bottom: 5%;
  transition: all .5s ease;
}
.register_button:hover{
  color: #001F3F;
  background-color: #69D3EA;
}

.register {
  display: flex;
  text-align: center;
  justify-content: center;
}
.username {
  position: relative;
  right: 65px;
}
.password {
  position: relative;
  right: 55px;
}
.register_info_box {
  display: flex;
  justify-content: center;
}

.register_info input[type="text"],
.register_info input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  outline: none;
}

/* Change underline color on focus */
.register_info input[type="text"]:focus,
.register_info input[type="password"]:focus {
  border-bottom: 2px solid #49C7E3;
}

.input-data {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-data input[type=""],
  .input-data input[type=""]{
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
  }
  
  .input-data input:focus ~ label,
  .input-data input:valid ~ label {
    transform: translateY(-25px); /* Move label above input field */
    font-size: 14px;
    color: #49C7E3;
  }
  
  .input-data label {
    position: absolute;
    bottom: 40px;
    left: 38%;
    font-size: 16px;
    color: #ccc;
    transition: all 0.3s ease;
  }
  
  .input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    color: white;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before {
    transform: scaleX(1);
    background: #49C7E3;
  }
  h2{
    display: flex;
    justify-content: center;
  }
  
  
