body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modalformem {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalformem-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0px 20px 20px 20px;
  border: 1px solid #888;
  width: 500px;
  height: 300px;
  overflow: auto;
}

.tableformem {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
  width:100%;
}

.tablehead {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  height: 50px;
}

td{
    height: 50px;
}

td:hover{
    font-weight: 400;
}