nav {
    background: #ffffff;
    width: 100%;
    text-align: center;
    line-height: 60px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.left-buttons {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
}

.left-buttons a {
    font-family: sans-serif;
    display: block;
    padding: 0px 40px;
    color: #120061;
    text-decoration: none;
    background-color: #d3d3d3;
    border: 1px solid #564b99;
    font-weight: bold;
}

.left-buttons a:hover {
    background-color: #aaa;
}